$tableColor: #8f8f8f;
$textColor: black;

.dataBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    table{
        border: .1rem solid $tableColor;
        width: 100rem;
        height: 5rem;
        th {
            background-color: $tableColor;
            color: black;
            width: 98rem;
            height: 5rem;
        }

        td {
            background-color: $tableColor;
            color: $textColor;
            text-align: center;
            width: 90rem;

            #complet {
                background-color: $tableColor;
                color: darkgreen;
            }

            #incomplet {
                background-color: $tableColor;
                color: darkred;
            }
        }
    }
}
